[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
