snippet formulateproblem
	\begin{itemize}
		\item \textbf{States}
		\item \textbf{Initial state}
		\item \textbf{Actions}
		\item \textbf{Transition model}
		\item \textbf{Goal test}
		\item \textbf{Path cost}
	\end{itemize}
