snippet simplearticle
	\documentclass{article}

	\usepackage[noend]{algorithmic}
	\usepackage{algorithm}
	\usepackage{amsmath}

	%configure algirhtm%
	\floatname{algorithm}{Procedure}
	\renewcommand\algorithmicthen{}
	\renewcommand{\algorithmiccomment}[1]{// #1}

	\begin{document}

	\title{Problem Set 1}
	\author{Minh Anh Truong (190983825) -- minh@iastate.edu}
	\date{September 2014}
	\maketitle


	\end{document}
